h1 {
    font-family: 'Domine', Serif;
    margin-top: 15px;
}

label {
    font-family: 'Domine', Serif;
    color: #666;
}

textarea {
    min-height: 250px;
}

.navbar {
    font-family: 'Domine';
    margin-bottom: 0;
}

.navbar-nav > li > a {
    text-transform: uppercase;
}

.content {
    margin: 10px 0;
    padding-left: 15px;
    padding-right: 15px;
}

.alert {
    margin-bottom: 10px;
}

.article {
    padding: 10px;
    -webkit-transition: all .2s ease;
}

.article:hover {
    border-radius: 5px;
    background: #eee;
    -webkit-transition: all .2s ease;
}

.article-img {
    border-radius: 5px;
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.article-text > h1 {
    margin-bottom: 0px;
}

.article-text > p {
    margin-top: 10px;
}

.message {
    margin-bottom: 10px;
}

.media-item {
    margin: 15px 0;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #eee;
    box-shadow: 1px 1px 12px 1px #f8f8f8;
}

.media-item:hover {
    box-shadow: 1px 1px 12px 1px #eee;
    -webkit-transition: .3s all ease;
}

.media-item img {
    width: 30px;
}

.media-item a {
    font-family: 'Domine', serif;
    text-transform: uppercase;
}

.subtitle {
    font-family: 'Domine', Serif;
    color: #666;
    margin-bottom: 15px;
}

.wishitem {
    height: 400px;
    position: relative;
    padding: 0px;
}

.wishitem-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wishitem-text {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 10px;
    background-color: #eee;
    opacity: 0;
    width: 100%;
    -webkit-transition: .3s all ease;
}

.wishitem-text > h1 {
    margin-bottom: 0px;
}

.wishitem-text ul.links {
    list-style: none;
    padding: 0;
}

.wishitem-text ul.links li {
    display: inline-block;
}

.wishitem-text ul.links li:nth-child(n+2)::before {
    content: "|";
    padding-left: 3px;
    padding-right: 5px;
    color: #666;
}

.wishitem:hover .wishitem-text {
    opacity: 1;
    -webkit-transition: .3s all ease;
}

@media screen and (min-width: 768px) and (max-width:991px) {
    
    .article:nth-child(odd) {
        clear: left;
    }
    
    .article-img {
        height: 250px;
    }
    
}
@media screen and (min-width: 768px) {
    .form-inline label {
        width: 80px;
    }

    .form-inline .form-control {
        width: calc(100% - 80px - 4px);
    }
    
    
}

@media screen and (min-width: 992px) {
    
    .article:nth-child(3n+1) {
        clear: left;
    }
    
    .article-img {
        height: 200px;
    }

}

@media screen and (min-width: 1200px) {
    
    .article-img {
        height: 250px;
    }

}